<div class="grid grid-cols-4 gap-8 items-center justify-center">
  <div class="col-start-1 col-end-3 p-6 bg-white rounded-lg shadow-xl">
      <h2 class="text-2xl font-bold mb-6 text-red-800">Datos Personales</h2>
  
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="space-y-6">
          <!-- Nombre -->
          <div class="relative">
              <label for="nombre" class="absolute -top-4 left-2 px-2 bg-white text-sm font-medium text-red-800 transition-all">Nombre</label>
              <input type="text" id="nombre" class="w-full p-4 bg-white border border-red-300 rounded-lg text-red-900 shadow focus:ring-red-500 focus:border-red-500 focus:outline-none transition-transform transform hover:scale-105" 
              placeholder="Introduce tu nombre" formControlName="nombre" />
          </div>
  
          <!-- Apellido Paterno -->
          <div class="relative">
              <label for="apaterno" class="absolute -top-4 left-2 px-2 bg-white text-sm font-medium text-red-800 transition-all">Apellido Paterno</label>
              <input type="text" id="apaterno" class="w-full p-4 bg-white border border-red-300 rounded-lg text-red-900 shadow focus:ring-red-500 focus:border-red-500 focus:outline-none transition-transform transform hover:scale-105" 
              placeholder="Introduce tu apellido paterno" formControlName="apaterno" />
          </div>
  
          <!-- Apellido Materno -->
          <div class="relative">
              <label for="amaterno" class="absolute -top-4 left-2 px-2 bg-white text-sm font-medium text-red-800 transition-all">Apellido Materno</label>
              <input type="text" id="amaterno" class="w-full p-4 bg-white border border-red-300 rounded-lg text-red-900 shadow focus:ring-red-500 focus:border-red-500 focus:outline-none transition-transform transform hover:scale-105" 
              placeholder="Introduce tu apellido materno" formControlName="amaterno" />
          </div>
  
          <!-- Fecha de Nacimiento -->
          <div>
              <label class="block mb-2 text-sm font-medium text-red-800">Fecha de Nacimiento</label>
              <div class="flex space-x-4">
                  <input type="number" id="dia" placeholder="Día" class="w-1/3 p-4 bg-white border border-red-300 rounded-lg text-red-900 shadow focus:ring-red-500 focus:border-red-500 transition-transform transform hover:scale-105" formControlName="dia" />
                  <input type="number" id="mes" placeholder="Mes" class="w-1/3 p-4 bg-white border border-red-300 rounded-lg text-red-900 shadow focus:ring-red-500 focus:border-red-500 transition-transform transform hover:scale-105" formControlName="mes" />
                  <input type="number" id="ano" placeholder="Año" class="w-1/3 p-4 bg-white border border-red-300 rounded-lg text-red-900 shadow focus:ring-red-500 focus:border-red-500 transition-transform transform hover:scale-105" formControlName="ano" />
              </div>
          </div>
  
          <!-- Sexo -->
          <div>
              <label class="block mb-2 text-sm font-medium text-red-800">Sexo</label>
              <div class="flex space-x-6">
                  <label class="inline-flex items-center">
                      <input type="radio" formControlName="sexo" value="masculino" class="text-red-600 focus:ring-red-500">
                      <span class="ml-2 text-red-700">Masculino</span>
                  </label>
                  <label class="inline-flex items-center">
                      <input type="radio" formControlName="sexo" value="femenino" class="text-red-600 focus:ring-red-500">
                      <span class="ml-2 text-red-700">Femenino</span>
                  </label>
              </div>
          </div>
  
          <!-- Submit Button -->
          <button type="submit" 
          (click)="subImprimir()"
          class="w-full text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-semibold rounded-lg text-lg px-6 py-3 text-center transition-transform transform hover:scale-110 shadow-lg"> 
          Imprimir
          </button>
      </form>
  </div>
  
  <div class="col-start-3 col-end-5 text-[22px] p-8 bg-white rounded-lg shadow-lg">
    <p class="font-bold text-red-800 mb-4">Resumen</p>
    <p class="mb-2 text-red-700"><span class="font-medium">Nombre:</span> {{ formGroup.value.nombre }} {{ formGroup.value.apaterno }} {{ formGroup.value.amaterno }}</p>
    <p class="mb-2 text-red-700"><span class="font-medium">Edad:</span> {{ edad }} años</p>
    <p class="mb-4 text-red-700"><span class="font-medium">Signo Zodiacal Chino:</span> {{ signoChino }}</p>
    <img [src]="imagenSigno" alt="Signo Zodiacal Chino" class="w-24 h-24 rounded-full border-2 border-red-500 shadow-md">
  </div>
</div>
